* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.flexbox-container {
    background-color: #0c294a;
    width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; ;
}

.header {
    color: #FFFFFF;
    font-family: "Ledger", serif;
    font-size: 22px;
    float: left;
    margin-left: 60px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
    position: relative;
}

li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    font-family: "Pragati Narrow", sans-serif;
}

li a:hover {
    font-size: 150%;
}


.items {
    margin-right: 60px;
}

.img {
    width:43px;
    height: 47px;
    margin-left: 20px;
}
