.regulations-heading {
    padding-bottom: 25px;
    font-family: "Ledger", serif;
    color: #333333;
    padding-top: 40px;
    border-bottom: solid black 3px;
    padding-bottom: 8px;
    font-size: 30px;
}

.reg-head-container {
    width: 800px;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.reg-info {
    padding-top: 12px;
    font-size: 20px;
    width: 40%;
    align-items: center;
    margin: auto;
}

.reg-details {
    font-size: 20px;
}

.reg-site {
    color: rgb(2, 86, 205);
}

.reg-site:hover {
    color: red;
}

.img-box {
    padding-top: 25px;
    width: 750px;
}

.reg-container {
    margin-bottom: 50px;
}
